@using BlazorBootstrap
@inject BlazorData.DataService DataService

<Card Style="width:18rem; margin-right:50px; margin-top:50px;">
    <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto" width="150px" height="150px" fill="black" class="@IconStyle" viewBox="0 0 16 16">
        <path d="@IconPath" />
    </svg>

    @* <img class="rounded-top" style="width:150px; height:150px; margin:auto;" src=" @Image" alt="placeholder" /> *@
    <CardBody>

        <CardTitle>@Title</CardTitle>
        <CardTitle>@ChildContent</CardTitle>
        <CardText>@Text</CardText>
    </CardBody>
    <ul class="list-group list-group-flush">
        @foreach (var item in ListItems)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
    <CardBody>
        <CardLink To="@LinkTo">@LinkName</CardLink>

    </CardBody>
</Card>

@code {

    [Parameter]
    public string? IconStyle { get; set; }
    [Parameter]
    public string? Image { get; set; }
    [Parameter]
    public string? IconPath { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public List<string?> ListItems { get; set; } = new List<string?>();
    [Parameter]
    public string? LinkName { get; set; }
    [Parameter]
    public string? LinkTo { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

