@page "/details/{Tab:int}"
@page "/details"


@using Microsoft.AspNetCore.Components.QuickGrid
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@using MyHomeBlazorApp.Pages
@using BlazorBootstrap
@using MyHomeBlazorApp.Components
@using MyHomeBlazorApp.Components.TabComponents
@using MyHomeBlazorApp.Shared
@using MyHomeBlazorApp.Components.Modals
@using System.ComponentModel.DataAnnotations
@inject NavigationManager uriHelper;
@inject BlazorData.DataService DataService;



<h3>Details</h3>


<TabControl TabID="TabID">
    <TabPage Text="Real Estates">
        <div class="grid">
            <Button Class="btn btn-outline-success" @onclick="OnShowModalAddNewRealEstate">Add New</Button>
            <QuickGrid tabindex="1" Items="@_realEstatesListAsQueryable">
                <TemplateColumn>
                    <div>
                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalRealEstateClick(context.RealEstateID)">Edit</Button>
                        <Button Class="btn btn-outline-danger" @onclick="() => OnShowModalChooseOptionDeleteRealEstate(context.RealEstateID)">Delete</Button>
                    </div>
                </TemplateColumn>
                <PropertyColumn Title="ID" Property="@(r => r.RealEstateID)" Sortable="true" />
                <PropertyColumn Title="Name" Property="@(r => r.RealEstateName)" Sortable="true" />
                <PropertyColumn Title="Street Name" Property="@(r => r.Address.StreetName)" />
                <PropertyColumn Title="House Number" Property="@(r => r.Address.HouseNumber)" />
                <TemplateColumn Title="Number's Extension">
                    <NoData Text="@context.Address.HouseNumberExtension"></NoData>
                </TemplateColumn>
                <PropertyColumn Property="@(r => r.Address.City)" Sortable="true" />
                <PropertyColumn Property="@(r => r.Address.Country)" Sortable="true" />
                <PropertyColumn Title="Total Devices" Property="@(r => r.DevicesProfiles.Count())" />
            </QuickGrid>
        </div>
    </TabPage>
    <TabPage Text="Devices">
        <div class="grid">
            <Button Class="btn btn-outline-success" @onclick="OnShowModalAddNewDevice">Add New</Button>
            <QuickGrid tabindex="2" Items="@_devicesListAsQueryable">
                @* _devicesListAsQueryable = DataService.RealEstates.SelectMany(realEstate => realEstate.DevicesProfiles).AsQueryable(); *@
                @* Here is "edit" button, but there are two different forms: Real Estate and Address. For logic reason these two should be combined as one editable form*@
                <TemplateColumn>
                    <div>
                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditDeviceClick(context.DeviceID)">Edit</Button>
                        <Button Class="btn btn-outline-danger" @onclick="() => OnShowModalDeleteDeviceClick(context.DeviceID)">Delete</Button>
                    </div>
                </TemplateColumn>
                <TemplateColumn Title="Real Estate ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenAscending(d=>d.DeviceID)">
                    @if (DataService.GetRealEstateByDeviceID(context.DeviceID) != 0)
                    {
                        <span>@DataService.GetRealEstateByDeviceID(context.DeviceID)</span>
                    }
                </TemplateColumn>

                <PropertyColumn Title="ID" Property="@(d=>d.DeviceID)" Sortable="true" />
                <PropertyColumn Title="Name" Property="@(d => d.DeviceName)" Sortable="true" />
                <PropertyColumn Title="Produser" Property="@(d => d.DeviceProduser)" Sortable="true" />
                <PropertyColumn Title="Type" Property="@(d => d.DeviceType)" Sortable="true" />
                <PropertyColumn Title="Serial Number" Property="@(d => d.DeviceSerialNumber)" />
                <PropertyColumn Title="Model Number" Property="@(d => d.DeviceModelNumber)" />
                <PropertyColumn Title="IP Address" Property="@(d => d.IpAddress)" />
                <PropertyColumn Title="Mac Address" Property="@(d => d.MacAdrress)" />
                <TemplateColumn Title="Manual">
                    <Button class="btn btn-sm" href="@context.ManualBookLink">Manual</Button>
                </TemplateColumn>
                @* I do not knowif I need this linein devices details *@
                @* <PropertyColumn Title="Warranty Expires" Property="@(d => d.DeviceWarranty.WarrantyEnd.ToShortDateString())" Sortable="true" /> *@
            </QuickGrid>
        </div>
    </TabPage>
    <TabPage Text="Devices Warranties">
        <div class="grid">
            <QuickGrid tabindex="3" Items="@_devicesListAsQueryable">
                @* Here is "edit" button, but there are two different forms: Real Estate and Address. For logic reason these two should be combined as one editable form*@
                <TemplateColumn>
                    <div>
                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditAddDeviceWarrantyClick(context.DeviceID)">Edit</Button>
                    </div>
                </TemplateColumn>
                <TemplateColumn Title="Real Estate ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenAscending(d=>d.DeviceID)">
                    <span>@DataService.GetRealEstateByDeviceID(context.DeviceID)</span>
                </TemplateColumn>
                @* how to make output "no data" if user didn't put in details for alomst each part. Some will be *@
                <PropertyColumn Title="Device ID" Property="@(d => d.DeviceID)" Sortable="true" />
                <PropertyColumn Title="Purchase Date" Property="@(d => d.DeviceWarranty.PurchaseDate.ToShortDateString())" Sortable="true" />
                <PropertyColumn Title="Expires" Property="@(d => d.DeviceWarranty.WarrantyEnd.ToShortDateString())" Sortable="true" />
                <PropertyColumn Title="Length" Property="@(d => d.DeviceWarranty.Years)" />
                @* it would be great for user to uppload the receipts or insurances to database to make it easy to find! Other method it could be linked in the user device *@
                <TemplateColumn Title="Receipt">
                    <Button class="btn btn-sm" href="@context.DeviceWarranty.ReceiptLink">Receipt</Button>
                </TemplateColumn>
                <PropertyColumn Title="Extra Warranty Length" Property="@(d => d.DeviceWarranty.ExtendedWarrantyinYears)" Sortable="true" />
                @* maybe I should separate extended warranty and insurance because it is easier to track and to see what is valid *@
                <TemplateColumn Title="Extra's Receipt">
                    <Button class="btn btn-outline-info" href="@context.DeviceWarranty.ReceiptLink">Open Receipt</Button>
                </TemplateColumn>
            </QuickGrid>
        </div>
    </TabPage>
    <TabPage Text="Shops Details">
        <div class="grid">
            <QuickGrid tabindex="4" Items="@_devicesListAsQueryable">
                @* Here is "edit" button, but there are two different forms: Real Estate and Address. For logic reason these two should be combined as one editable form*@
                <TemplateColumn>
                    <div>
                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditAddShopClick(context.DeviceID)">Edit</Button>
                    </div>
                </TemplateColumn>
                <TemplateColumn Title="Real Estate ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenAscending(d=>d.DeviceID)">
                    <span>@DataService.GetRealEstateByDeviceID(context.DeviceID)</span>
                </TemplateColumn>
                @* how to make output "no data" if user didn't put in details for alomst each part. Some will be empty *@
                <PropertyColumn Title="Device ID" Property="@(d => d.DeviceID)" Sortable="true" />
                <PropertyColumn Title="Shop Name" Property="@(d => d.DeviceWarranty.Shop.ShopName)" Sortable="true" />
                <PropertyColumn Title="Website Adrress" Property="@(d => d.DeviceWarranty.Shop.ShopWebAddress)" Sortable="true" />
                <PropertyColumn Title="Phone Number" Property="@(d => d.DeviceWarranty.Shop.PhoneNumber)" />
                <PropertyColumn Title="Street Name" Property="@(d => d.DeviceWarranty.Shop.Address.StreetName)" />
                <PropertyColumn Title="House Number" Property="@(d => d.DeviceWarranty.Shop.Address.HouseNumber)" />
                <PropertyColumn Title="Number Extension" Property="@(d => d.DeviceWarranty.Shop.Address.HouseNumberExtension)" />
                <PropertyColumn Title="City" Property="@(d => d.DeviceWarranty.Shop.Address.City)" Sortable="true" />
                <PropertyColumn Title="Country" Property="@(d => d.DeviceWarranty.Shop.Address.Country)" Sortable="true" />
            </QuickGrid>
        </div>
    </TabPage>
</TabControl>

<!--#region Edit Form Modals  -->
@* Here is the EditForm with button outside the form *@
<div class="row">
    <Modal @ref="modalRealEstate" Title="Edit Real Estate Details">
        <BodyTemplate>
            <EditForm id="realEstateForm123" method="get" Model="DataService.RealEstates.AsQueryable()" OnValidSubmit="@ValidRealEsatateFormSubmitted" OnInvalidSubmit="@InvalidRealEstateFormSubmitted">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <label for="realEstateName" class="col-sm-2 col-form-label">
                        Real Estate Name
                    </label>
                    <div class="col-sm-10">
                        <InputText id="realEstateName" class="form-control" placeholder="Real Estate Name"
                                   @bind-Value="currentRealEstate.RealEstateName" />
                    </div>
                </div>
                <AddressComponent CurrentObjectAddress="@currentRealEstateAddress" DisplaySubmitButton="false" />

                @if (currentRealEstate.RealEstateID != _realEstatesListAsQueryable.First().RealEstateID && currentRealEstate.RealEstateID != 0)
                {
                    <Button Color="ButtonColor.Primary" @onclick="OnModalRealEstatePreviuos">Previuos</Button>
                }
                @if (currentRealEstate.RealEstateID != _realEstatesListAsQueryable.Last().RealEstateID && currentRealEstate.RealEstateID != 0)
                {
                    <Button Color="ButtonColor.Primary" @onclick="OnModalRealEstateNext">Next</Button>
                }

                <Button Color="ButtonColor.Primary" @onclick="OnHideModalRealEstateClick">Close</Button>
                @* The button to submit/update form *@
                <Button form="realEstateForm123" Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
            </EditForm>
        </BodyTemplate>
        <FooterTemplate>
            @* This is just for test purposes *@
            @if (LastSubmitResult != null)
            {
                <h2>
                    Last submit status: @LastSubmitResult
                </h2>
            }
        </FooterTemplate>
    </Modal>
</div>
<div class="row">
    <Modal @ref="modalEditAddDevice" Title="Edit Device Details">
        <BodyTemplate>
            <EditForm Model="realEstateToAddDevice" OnSubmit="@ValidDeviceFormSubmitted">
                <DataAnnotationsValidator />
                <AddEditDeviceComponent Device="@currentDevice" EditContext="@editDeviceContext" />
                <div class="row">
                    <div class="form-group">
                        <label class="form-label">Choose Real Estate</label>
                        <InputSelect @bind-Value="realEstateToAddDevice.RealEstateID" class="form-select">
                            <option selected disabled value="-1">Select Real Estate...</option>
                            @foreach (var realEstate in currentUser.RealEstates)
                            {
                                <option value="@realEstate.RealEstateID">@realEstate.RealEstateName</option>
                            }
                        </InputSelect>
                        <ValidationSummary />
                        @* <ValidationMessage For="() =>realEstateToAddDevice.RealEstateID" class="text-danger d-block" /> *@
                    </div>
                </div>
                <br>
                @if (currentDevice.DeviceID != 0)
                {
                    <NextPreviuosButtons @bind-CurrentDevice="@currentDevice"
                                         DevicesListAsQueryable="_devicesListAsQueryable">
                    </NextPreviuosButtons>
                }
                <Button style="margin:5px" Color="ButtonColor.Primary" @onclick="OnHideModalEditDeviceClick">Close</Button>
                <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
            </EditForm>
        </BodyTemplate>
    </Modal>
</div>
<div>
    <ModalEditWarrantyDetails @ref="refModalEditWarrantyDetails"
        CurrentDevice="@currentDevice"
    DevicesListAsQueryable="_devicesListAsQueryable"></ModalEditWarrantyDetails>
</div>
<div>
    <ModalEditShopDetails @ref="refModalEditShopDetails"
                          CurrentDevice="@currentDevice"
                          ShopAddress="@shopAddress"
                          DevicesListAsQueryable="_devicesListAsQueryable">
    </ModalEditShopDetails>
</div>
<div>
    <ModalDeleteRealEstate @ref="refModalRealEstateDelete"
                           CurrentRealEstate="@currentRealEstate">
    </ModalDeleteRealEstate>
</div>
<div>
    <ModalReassignDevices @ref="@refModalReasignDevices"
                          SelectedRealEstateID="@SelectedRealEstateID"
                          CurrentUser="@currentUser"
                          CurrentRealEstate="@currentRealEstate">
    </ModalReassignDevices>
</div>
<div>
    <ModalConfirmDeviceDeletion @ref="refModalConfirmDeviceDeletion"
                                CurrentDeviceToDelete="@currentDevice"
                                CurrentRealEstateToDeleteFrom="@currentRealEstate">
    </ModalConfirmDeviceDeletion>
</div>
<div>
    <ModalDeleteSuccessful @ref="refModalDeleteSuccess" ObjectName="@_deletedObjectName"></ModalDeleteSuccessful>
</div>


<!--#endregion -->
@code {


    [Parameter]
    public int Tab { get; set; }

    [Parameter]
    public int SelectedRealEstateID
    {
        get => selectedRealEstateID;
        set { selectedRealEstateID = value; }
    }
    private int TabID = 0;
    private string _chooseOptionValue = "Choose Real Estate";
    RealEstate currentChosedRealEsate = new();
    private int selectedRealEstateID = -1;
    private Address currentRealEstateAddress = new();
    private DeviceProfile? currentDevice { get; set; } = new();
    private RealEstate currentRealEstate = new();
    private UserProfile currentUser = new();
    private Address shopAddress = new();
    private String? _deletedObjectName;
    string LastSubmitResult = "";
    string _modalTitle = "";
    bool _isNullOrHasNoProperties = false;
    IQueryable<DeviceProfile> _devicesListAsQueryable;
    IQueryable<RealEstate> _realEstatesListAsQueryable;
    TabControl _tabControl;
    TabPage _realEstatePage;
    TabPage _devicePage;
    EditContext editContext;
    EditContext editDeviceContext;
    EditContext editShopContextDevice;
    bool valid;
    bool validRealEstate;
    bool validDevice;
    public Action? onDataChanged;
    public NextPreviuosButtons? nextPreviuosButtons;
    private RealEstate realEstateToAddDevice { get; set; } = new();
    private DeviceProfile deviceToAdd { get; set; } = new();
    public int realEsatateIdToAddDevice
    {
        get => realEstateToAddDevice.RealEstateID;
        set { realEstateToAddDevice.RealEstateID = value; }
    }

    public string deviceName
    {
        get => currentDevice.DeviceName;
        set { currentDevice.DeviceName = value; }
    }

    void ValidDeviceFormSubmitted(EditContext editContext)
    {
        validRealEstate = editContext.Validate();
        validDevice = editDeviceContext.Validate();
        if (realEstateToAddDevice.RealEstateID != 0 && currentDevice.DeviceID == 0 && deviceName != null)
        {
            validDevice = editDeviceContext.Validate();
            validRealEstate = editContext.Validate();
            DataService.AddNewDevice(currentDevice, realEsatateIdToAddDevice);
            modalEditAddDevice.HideAsync();
        }
        else if (realEstateToAddDevice.RealEstateID != 0 && currentDevice.DeviceID != 0 && deviceName != null)
        {
            validDevice = editDeviceContext.Validate();
            validRealEstate = editContext.Validate();
            DataService.MoveDeviceToOtherRealEstate(currentDevice.DeviceID, currentUser, realEsatateIdToAddDevice);
            modalEditAddDevice.HideAsync();
        }
        ///////////////
        //Updating quickgrid only if I use OnInitialized, otherwise it rerender and change only if I change Tab or page.
        //QuickGrid for RealEstates Details do not need this, so I can imagine that the problem is in SelectMany, maybe? :)
        //////////////
        OnInitialized();
    }

    // This method getting bool value from component if the item was deleted. But there is no way to activate thsi method to use OnInitialized().
    private void DeviceDataHasChanged()
    {
        _devicesListAsQueryable = DataService.CurrentUser.RealEstates.SelectMany(realEstate => realEstate.DevicesProfiles).AsQueryable();
        StateHasChanged();
    }

    private void RealEstateDataHasChanged()
    {
        _realEstatesListAsQueryable = DataService.CurrentUser.RealEstates.AsQueryable();
        StateHasChanged();
    }

    private void ShopDataHasChanged()
    {
        _realEstatesListAsQueryable = DataService.CurrentUser.RealEstates.AsQueryable();
        StateHasChanged();
    }

    private void WarrantyDataHasChanged()
    {
        _realEstatesListAsQueryable = DataService.CurrentUser.RealEstates.AsQueryable();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        // It does not change nothing if I assign QuickGrid item directly to DataService.
        _devicesListAsQueryable = DataService.CurrentUser.RealEstates.SelectMany(realEstate => realEstate.DevicesProfiles).OrderBy(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenBy(d => d.DeviceID).AsQueryable();
        _realEstatesListAsQueryable = DataService.CurrentUser.RealEstates.AsQueryable();
        editContext = new(realEstateToAddDevice);
        editDeviceContext = new(deviceToAdd);
        editShopContextDevice = new(currentDevice);
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        refModalConfirmDeviceDeletion.onDataChanged += DeviceDataHasChanged;
        refModalConfirmDeviceDeletion.onDataChanged += OnModalDeleteSuccess;
        refModalReasignDevices.onDataChanged += RealEstateDataHasChanged;
        refModalRealEstateDelete.onDataChanged += RealEstateDataHasChanged;
        refModalRealEstateDelete.onDataChanged += OnModalDeleteSuccess;
        refModalRealEstateDelete.onRequestReassignDevicesListToOtherRealEstate += OnModalReassignDevicesRequest;
        refModalReasignDevices.onDeleteRealEstate += OnModalRealEstateDeleteRequest;
        refModalEditShopDetails.ShopDataHasChanged += ShopDataHasChanged;
        refModalEditWarrantyDetails.WarrantyDataHasChanged += WarrantyDataHasChanged;
        base.OnAfterRender(firstRender);
    }

    private void OnModalReassignDevicesRequest(int realEstateID)
    {
        refModalReasignDevices.OnShowModalReasignDevices(realEstateID);
    }

    private void OnModalRealEstateDeleteRequest()
    {
        refModalRealEstateDelete.DeleteRealEstate_Click(true);
    }

    private void OnModalDeleteSuccess()
    {
        refModalDeleteSuccess.OnShowModalClick();
    }

    protected override void OnParametersSet()
    {
        if (Tab == 1)
        {
            TabID = 1;
        }
        else if (Tab == 2)
        {
            TabID = 2;
        }
        else if (Tab == 3)
        {
            TabID = 3;
        }
        else
        {
            message = "There is no option";
        }
    }


    #region Real Estate

    private Modal modalRealEstate = default!;
    private ModalDeleteRealEstate refModalRealEstateDelete = default!;
    private ModalReassignDevices refModalReasignDevices = default!;
    //example



    // void SortByID()
    // {
    //     _devicesListAsQueryable = _devicesListAsQueryable.OrderBy(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenBy(d => d.DeviceID);
    // }
    // void FilterDevices(string query)
    // {
    //     _devicesListAsQueryable = _devicesListAsQueryable.Where(i => i.DeviceName.Contains(query));
    // }

    private async Task OnShowModalRealEstateClick(int realEstateID)
    {
        currentRealEstate = DataService.GetRealEstate(realEstateID);
        currentRealEstateAddress = currentRealEstate.Address;
        await modalRealEstate.ShowAsync();
    }

    private async Task OnShowModalAddNewRealEstate()
    {
        currentRealEstate = new();
        currentRealEstateAddress = new();
        await modalRealEstate.ShowAsync();
    }

    private async Task OnHideModalRealEstateClick()
    {
        await modalRealEstate.HideAsync();
    }

    private async Task OnShowModalChooseOptionDeleteRealEstate(int currentRealEstateID)
    {
        currentUser = DataService.CurrentUser;
        currentRealEstate = DataService.GetRealEstate(currentRealEstateID);
        _deletedObjectName = currentRealEstate.RealEstateName;
        await refModalRealEstateDelete.OnShowModalDeleteRealEstateClick();
    }

    // private bool CheckIfRealEstateObjectIsEmpty()
    // {
    //     if (currentRealEstate == null || currentRealEstate.RealEstateID == 0)
    //     {
    //         _isNullOrHasNoProperties = true;
    //     }
    //     else
    //     {
    //         _isNullOrHasNoProperties = false;
    //     }

    //     return _isNullOrHasNoProperties;
    // }

    private void OnModalRealEstateNext()
    {
        int currentRealEstateIndex = 0;
        List<RealEstate> allRealEstates = _realEstatesListAsQueryable.ToList();
        if (currentRealEstate != null)
        {
            currentRealEstateIndex = allRealEstates.IndexOf(currentRealEstate);
            currentRealEstate = allRealEstates[currentRealEstateIndex + 1];
            //one line code with linq
            // currentRealEstate = allRealEstates[(allRealEstates.IndexOf(currentRealEstate) + 1) % allRealEstates.Count];
        }

    }

    private void OnModalRealEstatePreviuos()
    {
        int currentRealEstateIndex = 0;
        List<RealEstate> allRealEstates = _realEstatesListAsQueryable.ToList();
        if (currentRealEstate != null)
        {
            currentRealEstateIndex = allRealEstates.IndexOf(currentRealEstate);
            currentRealEstate = allRealEstates[currentRealEstateIndex - 1];
            //one line code with linq
            // currentRealEstate = allRealEstates[(allRealEstates.IndexOf(currentRealEstate) -1) % allRealEstates.Count]
        }
    }

    private void ValidRealEsatateFormSubmitted(EditContext editContext)
    {
        //call form validation
        if (currentRealEstate == null || currentRealEstate.RealEstateID == 0)
        {
            currentRealEstate.Address = currentRealEstateAddress;
            DataService.AddNewRealEstate(currentRealEstate);
        }
        else
        {
            DataService.SaveUpdatedObject();

        }
        OnInitialized();
        LastSubmitResult = "OnValidSubmit was executed";
        modalRealEstate.HideAsync();
    }

    private void InvalidRealEstateFormSubmitted(EditContext editContext)
    {
        LastSubmitResult = "OnInvalidSubmit was executed";
    }
    #endregion

    #region Devices



    private Modal modalReasignDevices = default!;
    private Modal modalEditAddDevice = default!;
    private Modal modalDeviceDelete = default!;
    private ModalDeleteSuccessful refModalDeleteSuccess = default!;
    private ModalConfirmDeviceDeletion refModalConfirmDeviceDeletion = default!;

    private async Task OnShowModalDeleteDeviceClick(int deviceId)
    {
        int ChosedRealEsatateID = DataService.GetRealEstateByDeviceID(deviceId);
        currentRealEstate = DataService.GetRealEstate(ChosedRealEsatateID);
        currentDevice = DataService.GetDeviceById(deviceId);
        _deletedObjectName = currentDevice.DeviceName;
        await refModalConfirmDeviceDeletion.OnShowModalClick();
    }

    private async Task OnShowModalAddNewDevice()
    {
        currentUser = DataService.CurrentUser;
        currentDevice = new();
        await modalEditAddDevice.ShowAsync();
    }

    private async Task OnShowModalEditDeviceClick(int deviceID)
    {
        realEsatateIdToAddDevice = DataService.GetRealEstateByDeviceID(deviceID);
        currentUser = DataService.CurrentUser;
        currentDevice = DataService.GetDeviceById(deviceID);
        await modalEditAddDevice.ShowAsync();

    }

    private async Task OnHideModalEditDeviceClick()
    {
        await modalEditAddDevice.HideAsync();
    }

    private async Task OnShowModalReasignDevices(int currentRealEstateID)
    {
        await modalReasignDevices.ShowAsync();
    }

    private async Task OnHideModalReasignDevicesClick()
    {
        await modalReasignDevices.HideAsync();
    }

    // error with the sequences
    public void OnModalDeviceNext()
    {
        // this should be moved to DataService and to the next-previuos buttons component should be
        // passed currentDevice [Parameter] to use method in one place instead of changing in every copied component.
        int currentDeviceIndex = 0;
        List<DeviceProfile> allDevices = _devicesListAsQueryable.ToList();
        if (currentDevice != null)
        {
            currentDeviceIndex = allDevices.IndexOf(currentDevice);
            currentDevice = allDevices[currentDeviceIndex + 1];
            StateHasChanged();
            //one line code with linq
            // currentDevice = allDevices[(allDevices.IndexOf(currentDevice) + 1) % allDevices.Count];
        }
    }

    public void OnModalDevicePreviuos()
    {
        int currentDeviceIndex = 0;
        List<DeviceProfile> allDevices = _devicesListAsQueryable.ToList();
        //maybe need to sort list first by ID and then use indexing.
        // allDevices.Sort();
        // List<DeviceProfile> query = allDevices.OrderBy(d => DataService.GetRealEstateByDeviceID(d.DeviceID)).ThenBy(d => d.DeviceID).ToList();

        if (currentDevice != null)
        {
            currentDeviceIndex = allDevices.IndexOf(currentDevice);
            currentDevice = allDevices[currentDeviceIndex - 1];
            StateHasChanged();
            //one line code with linq
            // currentDevice = allDevices[(allDevices.IndexOf(currentDevice) + 1) % allDevices.Count];
        }
    }




    #endregion

    #region Warranties

    private ModalEditWarrantyDetails refModalEditWarrantyDetails = default!;

    private async Task OnShowModalEditAddDeviceWarrantyClick(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        await refModalEditWarrantyDetails.OnShowModalEditWarrantyClick();
    }

    // private async Task OnHideModalEditWarrantyClick()
    // {
    //     await modalEditWarrantyDetails.HideAsync();
    // }

    // void ValidWarrantyDetailsFormSubmitted(EditContext editcontext)
    // {
    //     DataService.SaveUpdatedObject();
    //     LastSubmitResult = "OnValidSubmit was executed";
    //     modalEditWarrantyDetails.HideAsync();
    // }

    // void InvalidWarrantyDetailsFormSubmitted(EditContext editContext)
    // {
    //     LastSubmitResult = "OnInvalidSubmit was executed";
    // }

    #endregion

    #region Shops

    private ModalEditShopDetails refModalEditShopDetails = default!;

    private async Task OnShowModalEditAddShopClick(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        shopAddress = currentDevice.DeviceWarranty.Shop.Address;
        await refModalEditShopDetails.OnShowModalEditAddShopClick();
    }

    #endregion



    private string message = "";


    // // // // // // // //


    // moved to validation method to keep one button
    // public async Task AddOrSave()
    // {
    //     if (currentRealEstate == null || currentRealEstate.RealEstateID == 0)
    //     {
    //         currentRealEstate.Address = currentRealEstateAddress;
    //         DataService.AddNewRealEstate(currentRealEstate);
    //     }
    //     else
    //     {
    //         DataService.SaveUpdatedRealEstate();
    //     }
    //     await modalRealEstate.HideAsync();
    // }

    // Void or async Task?

    // private void OnModalDeviceWarrantyNext()
    // {
    //     currentDevice = DataService.Devices.First(d => d.DeviceID == currentDevice.DeviceID + 1);
    // }

    // private void OnModalDeviceWarrantyPreviuos()
    // {
    //     currentDevice = DataService.Devices.First(d => d.DeviceID == currentDevice.DeviceID - 1);
    // }

    // private void OnModalDeviceShopNext()
    // {
    //     currentDevice = DataService.Devices.First(d => d.DeviceID == currentDevice.DeviceID + 1);
    // }

    // private void OnModalDeviceShopPreviuos()
    // {
    //     currentDevice = DataService.Devices.First(d => d.DeviceID == currentDevice.DeviceID - 1);
    // }
}

