@page "/details/{Tab:int}"
@page "/details"


@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.AspNetCore.Mvc
@using Microsoft.EntityFrameworkCore
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@using MyHomeBlazorApp.Pages
@using BlazorBootstrap
@using MyHomeBlazorApp.Components.Account
@using MyHomeBlazorApp.Components
@using MyHomeBlazorApp.Components.TabComponents
@using MyHomeBlazorApp.Shared
@using MyHomeBlazorApp.Components.Modals
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.WebUtilities
@using System.Threading.Tasks
@using System.Threading
@using My_Home
@inject NavigationManager uriHelper
@inject NavigationManager NavManager
@inject BlazorData.DataService DataService;
@inject IJSRuntime JSRuntime
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject IUserStore<MyHomeBlazorAppUser> UserStore
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inject IEmailSender<MyHomeBlazorAppUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject MyHomeBlazorAppContext _dbcontext;
@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@attribute [Authorize]

<main class="bodySection">
    <section class="bodySection-content">
        <div>

            <TabControl TabID="TabID">
                <TabPage Text="Real Estates">
                    <div class="grid">
                        <div class="">
                            <Button Class="btn my-3 addNew-btn btn-rounded" @onclick="OnShowModalAddNewRealEstate">+ Add New Real Estate</Button>
                            <div class="col my-3"><Icon Color="IconColor.Dark" Name="IconName.PencilFill" /> Push Edit Icon to change your Real Estate data</div>
                            <div class="col my-3"><Icon Color="IconColor.Danger" Name="IconName.Trash3Fill" /> Push Delete Icon to delete Real Estate with devices or delete Real Estate and move devices to other Real Estate</div>
                        </div>
                        <QuickGrid tabindex="1" Items="@_realEstatesListAsQueryable">
                            <TemplateColumn>
                                <div>
                                    <Button Class="btn btn-outline-dark icon-button" @onclick="() => OnShowModalRealEstateClick(context.RealEstateID)"><Icon Name="IconName.PencilFill" /></Button>
                                    <Button Class="btn btn-outline-danger" @onclick="() => OnShowModalChooseOptionDeleteRealEstate(context.RealEstateID)"><Icon Name="IconName.Trash3Fill" /></Button>
                                </div>
                            </TemplateColumn>
                            <PropertyColumn Title="ID" Property="@(r => r.RealEstateID)" Sortable="true" />
                            <PropertyColumn Title="Name" Property="@(r => r.RealEstateName)" Sortable="true" />
                            <PropertyColumn Title="Street Name" Property="@(r => r.Address.StreetName)" />
                            <PropertyColumn Title="House Number" Property="@(r => r.Address.HouseNumber)" />
                            <TemplateColumn Title="Number's Extension">
                                <NoData Text="@context.Address.HouseNumberExtension"></NoData>
                            </TemplateColumn>
                            <PropertyColumn Property="@(r => r.Address.City)" Sortable="true" />
                            <PropertyColumn Property="@(r => r.Address.Country)" Sortable="true" />
                            <PropertyColumn Title="Total Devices" Property="@(r => r.DevicesProfiles.Count())" />
                        </QuickGrid>
                    </div>
                </TabPage>
                <TabPage Text="Devices">
                    <div class="container-fluid p-0" style="overflow-x: hidden;">
                        <div class="grid">
                            <div class="col"><Button Class="btn my-3 addNew-btn" @onclick="OnShowModalAddNewDevice">+ Add New Device</Button></div>
                            <div class="col my-3"><Icon Color="IconColor.Dark" Name="IconName.PencilFill" /> Push Edit Icon to change your device data</div>
                            <div class="col my-3"><Icon Color="IconColor.Danger" Name="IconName.Trash3Fill" /> Push Delete Icon to delete device</div>
                            <div class="col my-3"><Icon Color="IconColor.Success" Name="IconName.QrCode" /> Push Qr Code Icon to add device to printing list</div>
                            <div class="col my-3"><Icon Color="IconColor.Info" Size="IconSize.None" Name="IconName.EnvelopeOpen" /> Push Envelope icon to prepare email with chosed device details</div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-lg-5">
                                <div class="d-flex align-items-center justify-content-start gap-3 border rounded-pill px-3 py-1 mb-3 bg-light shadow-sm" style="width: fit-content;">

                                    @* <small class="text-muted"><i class="bi bi-info-circle me-1"></i>Click QR to add</small> *@
                                    <button class="btn btn-sm btn-link text-success text-decoration-none fw-bold" @onclick="HandleAddAllToPrint">
                                        Add all devices to print list
                                    </button>
                                </div>


                                @if (DataService.GetCurrentQueue().Any())
                                {
                                    <div class="card shadow-sm border-0 bg-light">
                                        <div class="card-body p-2">
                                            <div class="d-flex justify-content-between align-items-center mb-2 px-1">
                                                <span class="badge rounded-pill bg-success">
                                                    @DataService.GetCurrentQueue().Count() Selected
                                                </span>
                                                <button class="btn btn-sm py-0 btn-success rounded-pill px-3 fw-bold shadow-sm" @onclick="NavToPrintPage">
                                                    Print <i class="bi bi-arrow-right-short"></i>
                                                </button>
                                            </div>

                                            <div class="d-flex flex-wrap gap-1">
                                                @foreach (var device in DataService.GetCurrentQueue())
                                                {
                                                    <div class="badge bg-light text-dark border d-flex align-items-center p-2" style="font-size: 0.9rem;">
                                                        <span class="me-2">@device.DeviceName</span>
                                                        <button type="button" class="btn-close" aria-label="Remove"
                                                                style="font-size: 0.6rem;"
                                                                @onclick="() => DataService.RemoveFromQueue(device)">
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>


                        @* <Button Class="btn my-3 addNew-btn" @onclick="OnShowModalAddNewDevice">+ Add New Device</Button>
            <p>Envelope Icon is to prepatre email for the shop you bought the device</p>
            <p>Qr Code Icon is to create qr code for device</p> *@
                        <QuickGrid tabindex="2" Items="@_devicesListAsQueryable">
                            <TemplateColumn>
                                <div>
                                    <Button Class="btn btn-outline-dark" @onclick="() => ShowDeviceEditFormInModal(context.DeviceID)"><Icon Name="IconName.PencilFill" /></Button>
                                    <Button Class="btn btn-outline-danger" @onclick="() => OnShowModalDeleteDeviceClick(context.DeviceID)"><Icon Name="IconName.Trash3Fill" /></Button>
                                    <Button Class="btn btn-outline-success" @onclick="() => HandleQrCode(context.DeviceID)"><Icon Name="IconName.QrCode" /></Button>
                                    <Button Class="btn btn-outline-info" @onclick="() => SendDeviceIDToCreateEmailComponent(context.DeviceID)"><Icon Name="IconName.EnvelopeOpen" /></Button>
                                </div>
                            </TemplateColumn>
                            <TemplateColumn Title="Real Estate / ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => d.TempRealEstateName).ThenAscending(d => d.DeviceID)">
                                <span>@context.TempRealEstateName</span>
                            </TemplateColumn>
                            <PropertyColumn Title="Device ID" Property="@(d => d.DeviceID)" Sortable="true" />
                            <PropertyColumn Title="Name" Property="@(d => d.DeviceName)" Sortable="true" />
                            <PropertyColumn Title="Produser" Property="@(d => d.DeviceProduser)" Sortable="true" />
                            <PropertyColumn Title="Type" Property="@(d => d.DeviceType)" Sortable="true" />
                            <PropertyColumn Title="Serial Number" Property="@(d => d.DeviceSerialNumber)" />
                            <PropertyColumn Title="Model Number" Property="@(d => d.DeviceModelNumber)" />
                            <PropertyColumn Title="IP Address" Property="@(d => d.IpAddress)" />
                            <PropertyColumn Title="Mac Address" Property="@(d => d.MacAdrress)" />
                            <TemplateColumn Title="Manual">
                                <Button class="btn-sm btn btn-outline-info" @onclick="() => DataService.Navigate(context.DeviceID, JSRuntime)">Manual</Button>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </TabPage>
                <TabPage Text="Devices Warranties">
                    <div class="grid my-5">
                        <div class="">
                            <div class="col my-3"><Icon Color="IconColor.Dark" Name="IconName.PencilFill" /> Push Edit Icon to change your Warranties data</div>
                        </div>
                        <QuickGrid tabindex="3" Class="text-center" Items="@_devicesListAsQueryable">
                            <TemplateColumn>
                                <div>
                                    <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditAddDeviceWarrantyClick(context.DeviceID)"><Icon Name="IconName.PencilFill" /></Button>
                                </div>
                            </TemplateColumn>
                            <TemplateColumn Title="Real Estate/ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => d.TempRealEstateName).ThenAscending(d => d.DeviceID)">
                                <span>@context.TempRealEstateName</span>
                            </TemplateColumn>
                            @* how to make output "no data" if user didn't put in details for alomst each part. Some will be *@
                            <PropertyColumn Title="Device ID" Property="@(d => d.DeviceID)" Sortable="true" />
                            <PropertyColumn Title="Purchase Date" Property="@(d => d.DeviceWarranty.PurchaseDate.ToShortDateString())" Sortable="true" />
                            <PropertyColumn Title="Expires" Property="@(d => d.DeviceWarranty.WarrantyEnd.ToShortDateString())" Sortable="true" />
                            <PropertyColumn Title="Warranty Length (Years)" Property="@(d => d.DeviceWarranty.Years)" />
                            @* it would be great for user to uppload the receipts or insurances to database to make it easy to find! Other method it could be linked in the user device *@
                            <TemplateColumn Title="Receipt">
                                @if (String.IsNullOrEmpty(context.DeviceWarranty.ReceiptLink))
                                {
                                    <span class="text-sm"><small>No File</small></span>
                                }
                                else
                                {
                                    <Button class="btn btn-sm btn btn-outline-info" @onclick="() => NavigateToWarrantyFile(context.DeviceID)">Open</Button>
                                }

                            </TemplateColumn>
                            <PropertyColumn Title="Extra Warranty Length (Years)" Property="@(d => d.DeviceWarranty.ExtendedWarrantyinYears)" Sortable="true" />
                            @* maybe I should separate extended warranty and insurance because it is easier to track and to see what is valid *@
                            <TemplateColumn Title="Extra's Receipt">
                                @if (String.IsNullOrEmpty(context.DeviceWarranty.ExtraInsuranceWarrantyLink))
                                {
                                    <span class="text-sm"><small>No File</small></span>
                                }
                                else
                                {
                                    <Button class="btn btn-sm btn btn-outline-info" @onclick="() => NavigateToExtraWarrantyFile(context.DeviceID)">Open</Button>
                                }
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </TabPage>
                <TabPage Text="Shops Details">
                    <div class="grid my-5">
                        <div class="">
                            <div class="col my-3"><Icon Color="IconColor.Dark" Name="IconName.PencilFill" /> Push Edit Icon to change your device purchase shop data</div>
                        </div>
                        @if (_devicesListAsQueryable != null)
                        {
                            <QuickGrid tabindex="4" Items="@_devicesListAsQueryable">
                                <TemplateColumn>
                                    <div>
                                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditAddShopClick(context.DeviceID)"><Icon Name="IconName.PencilFill" /></Button>
                                    </div>
                                </TemplateColumn>
                                <TemplateColumn Title="Real Estate / ID" Sortable="true" SortBy="GridSort<DeviceProfile>.ByAscending(d => d.TempRealEstateName).ThenAscending(d => d.DeviceID)">
                                    <span>@context.TempRealEstateName</span>
                                </TemplateColumn>
                                <PropertyColumn Title="Device ID" Property="@(d => d.DeviceID)" Sortable="true" />
                                <PropertyColumn Title="Shop Name" Property="@(d => d.DeviceWarranty.Shop.ShopName)" Sortable="true" />
                                <PropertyColumn Title="Website Adrress" Property="@(d => d.DeviceWarranty.Shop.ShopWebAddress)" Sortable="true" />
                                <PropertyColumn Title="Phone Number" Property="@(d => d.DeviceWarranty.Shop.PhoneNumber)" />
                                <PropertyColumn Title="Street Name" Property="@(d => d.DeviceWarranty.Shop.Address.StreetName)" />
                                <PropertyColumn Title="House Number" Property="@(d => d.DeviceWarranty.Shop.Address.HouseNumber)" />
                                <PropertyColumn Title="Number Extension" Property="@(d => d.DeviceWarranty.Shop.Address.HouseNumberExtension)" />
                                <PropertyColumn Title="City" Property="@(d => d.DeviceWarranty.Shop.Address.City)" Sortable="true" />
                                <PropertyColumn Title="Country" Property="@(d => d.DeviceWarranty.Shop.Address.Country)" Sortable="true" />

                            </QuickGrid>
                        }
                    </div>
                </TabPage>
                @* this will be commented out because of changes structure. *@
                @* @if (_unassignedDevicesListAsQueryable != null && _unassignedDevicesListAsQueryable.AsQueryable().Any())
                {
                    <TabPage Text="Unassigned Devices">
                        <div class="grid">
                            <QuickGrid tabindex="5" Items="_unassignedDevicesListAsQueryable">
                                <TemplateColumn>
                                    <div>
                                        <Button Class="btn btn-outline-dark" @onclick="() => OnShowModalEditDeviceClick(context.DeviceID)"><Icon Name="IconName.PencilFill" /></Button>
                                        <Button Class="btn btn-outline-danger" @onclick="() => OnShowModalDeleteDeviceClick(context.DeviceID)"><Icon Name="IconName.Trash3Fill" /></Button>
                                    </div>
                                </TemplateColumn>
                                <PropertyColumn Title="ID" Property="@(d=>d.DeviceID)" Sortable="true" />
                                <PropertyColumn Title="Name" Property="@(d => d.DeviceName)" Sortable="true" />
                                <PropertyColumn Title="Produser" Property="@(d => d.DeviceProduser)" Sortable="true" />
                                <PropertyColumn Title="Type" Property="@(d => d.DeviceType)" Sortable="true" />
                                <PropertyColumn Title="Serial Number" Property="@(d => d.DeviceSerialNumber)" />
                                <PropertyColumn Title="Model Number" Property="@(d => d.DeviceModelNumber)" />
                                <PropertyColumn Title="IP Address" Property="@(d => d.IpAddress)" />
                                <PropertyColumn Title="Mac Address" Property="@(d => d.MacAdrress)" />
                                <TemplateColumn Title="Manual">
                                    <Button class="btn-sm btn btn-outline-info" @onclick="() => DataService.Navigate(context.DeviceID, JSRuntime)">Manual</Button>
                                </TemplateColumn>
                            </QuickGrid>
                        </div>
                    </TabPage>
                } *@
            </TabControl>
        </div>
    </section>
</main>
<!--#region Edit Form Modals  -->

<div>
    <ModalEditAddRealEstate @ref="@refModalEditAddRealEstate"
                            CurrentRealEstate="@currentRealEstate"
                            OnDataChanged="RealEstateDataHasChanged">
    </ModalEditAddRealEstate>
</div>

<div>
    <ModalEditAddDevice @ref="@refModalEditAddDevice"
                        CurrentDevice="@currentDevice"
                        CurrentUser="@currentUser"
                        RealEsatateIdToAddDevice="@currentRealEstate.RealEstateID"
                        changedDeviceListData="DeviceDataHasChanged">
    </ModalEditAddDevice>
</div>
<div>
    <ModalEditWarrantyDetails @ref="_refModalEditWarrantyDetails"
                              CurrentDevice="@currentDevice"
                              DevicesListAsQueryable="@_devicesListAsQueryable"
                              OnDataChanged="RealEstateDataHasChanged">
    </ModalEditWarrantyDetails>
</div>
<div>
    <ModalEditShopDetails @ref="refModalEditShopDetails"
                          CurrentDevice="@currentDevice"
                          ShopAddress="@shopAddress"
                          DevicesListAsQueryable="@_devicesListAsQueryable"
                          OnDataChanged="RealEstateDataHasChanged">
    </ModalEditShopDetails>
</div>
<div>
    <ModalDeleteRealEstate @ref="refModalRealEstateDelete"
                           CurrentRealEstate="@currentRealEstate"
                           OnDataChanged="RealEstateDataHasChanged"
                           OnDeleteSuccess="OnModalDeleteSuccess"
                           OnRequestReassignDevicesListToOtherRealEsatate="OnModalReassignDevicesRequest">
    </ModalDeleteRealEstate>
</div>
<div>
    <ModalReassignDevices @ref="@refModalReasignDevices"
                          SelectedRealEstateID="@SelectedRealEstateID"
                          CurrentUser="@currentUser"
                          CurrentRealEstate="@currentRealEstate"
                          OnDataChanged="RealEstateDataHasChanged"
                          OnDeleteRealEstate="OnModalRealEstateDeleteRequest"
                          OnUnnassignedDeviceListDataChanged="HandleUnnassignedDevicesListDataChanged">
    </ModalReassignDevices>
</div>
<div>
    <ModalConfirmDeviceDeletion @ref="refModalConfirmDeviceDeletion"
                                CurrentDeviceToDelete="@currentDevice"
                                onDataChanged="DeviceDataHasChanged"
                                eventCallback="OnModalDeleteSuccess"
                                OnUnnassignedDeviceListDataChanged="HandleUnnassignedDevicesListDataChanged">
    </ModalConfirmDeviceDeletion>
</div>
<div>
    <ModalDeleteSuccessful @ref="refModalDeleteSuccess"
                           ObjectName="@_deletedObjectName"
                           onDataChanged="DeviceDataHasChanged">
    </ModalDeleteSuccessful>
</div>
<div>
    <SuccessModal @ref="_refSuccessModal" Title="Add/Edit Confirmation" Text="Data updated/added successfully!"></SuccessModal>
</div>

@* CustomReusableModal is for adding different forms in one modal to save code lines *@
@* <div>
    <CustomReusableModal @ref="_reusableModal" Title="Edit Device Details">
        <AddEditDeviceForm CurrentDevice="currentDevice"
        CurrentUser="currentUser"
        DataChangedEvent="DeviceListDataHasChangedTest" />
    </CustomReusableModal>
</div> *@



<!--#endregion -->
@code {
    // Devices Details page should be sorted by devices ID number by default.
    // Check IF the link to the file moves together with the device Profile!!!!!!!
    [Parameter]
    public int Tab { get; set; }

    private int SelectedRealEstateID
    {
        get => selectedRealEstateID;
        set { selectedRealEstateID = value; }
    }

    private int TabID = 0;
    private int selectedRealEstateID = -1;
    private string _chooseOptionValue = "Choose Real Estate";
    private string? _deletedObjectName;
    private string message = "";
    public bool listHasBeenChanged = false;
    private RealEstate currentChosedRealEsate = new();
    private RealEstate currentRealEstate = new();
    private Address currentRealEstateAddress = new();
    private Address shopAddress = new();
    private DeviceProfile? currentDevice { get; set; }
    private UserProfile? currentUser { get; set; }
    private IQueryable<DeviceProfile>? _devicesListAsQueryable;
    private IQueryable<RealEstate>? _realEstatesListAsQueryable;
    // Initialize with an empty list so the UI doesn't crash while loading
    private IQueryable<DeviceProfile> _unassignedDevicesListAsQueryable = Enumerable.Empty<DeviceProfile>().AsQueryable();
    public Action? UnassignedDevicesListChanged;
    List<ToastMessage> messages = new List<ToastMessage>();
    List<DeviceProfile> chosedDevicesList { get; set; } = new();

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
    => new ToastMessage
    {
        Type = toastType,
        Title = "Info message",
        Message = $"{currentDevice.DeviceName} added to the Print Qr code list!",
    };



    private async Task HandleQrCode(int _chosedDeviceID)
    {

        currentUser = DataService.CurrentUserWithAllData;
        if (_chosedDeviceID == 0) return;

        // Call the service
        string fileUrl = DataService.GenerateDeviceQrCode(_chosedDeviceID, currentUser.UserID);
        var chosedDevice = Logic.GetDeviceInfoByID(_chosedDeviceID, currentUser);
        DataService.AddToPrintQueue(chosedDevice);

        // Open the file in a new tab
        await JSRuntime.InvokeVoidAsync("open", fileUrl, "_blank");

        // Reset UI state
        _chosedDeviceID = 0;
        StateHasChanged();
    }

    private async Task HandleAddAllToPrint()
    {
        DataService.AddAllToPrintQueue();
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task NavToPrintPage()
    {
        if(DataService.GetCurrentQueue().Any())
        {
            var list = DataService.GetCurrentQueue();
            // saving the list to the local storage, otherwise list becames empty
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "printQueue", JsonSerializer.Serialize(list));
            await JSRuntime.InvokeVoidAsync("open", "qrPrinting", "_blank");
            DataService.CleanCurrentQueue();
            StateHasChanged();
        }
    }


    private async Task SendDeviceIDToCreateEmailComponent(int deviceId)
    {
        await JSRuntime.InvokeVoidAsync("open", $"createEmail/{deviceId}", "_blank");
    }

    public string deviceName
    {
        get => currentDevice.DeviceName;
        set { currentDevice.DeviceName = value; }
    }
    private CustomReusableModal _reusableModal = default!;
    private SuccessModal _refSuccessModal = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    // // [Inject]
    // // public AuthenticationStateProvider AuthenticationState { get; set; }





    private async Task ShowDeviceEditFormInModal(int deviceID)
    {
        currentUser = DataService.CurrentUserWithAllData;
        currentDevice = DataService.GetDeviceById(deviceID);
        currentRealEstate.RealEstateID = DataService.GetRealEstateByDeviceID(currentDevice.DeviceID);
        await refModalEditAddDevice.OnShowModalEditDeviceClick();
    }
    // user = await UserAccessor.GetRequiredUserAsync(HttpContext);
    private async Task OnShowModalAddNewDevice()
    {
        currentUser = DataService.CurrentUserWithAllData;
        currentDevice = new DeviceProfile
        {
            DeviceID = 0,
            DeviceName = "",
            DeviceType = DeviceType.Other
        };
        currentChosedRealEsate.RealEstateID = 0;
        StateHasChanged();
        await refModalEditAddDevice.OnShowModalEditDeviceClick();
    }

    private async Task NavigateToExtraWarrantyFile(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        string currentWarrantyReceiptLink = currentDevice.DeviceWarranty.ExtraInsuranceWarrantyLink;
        string fileUrl = DataService.GetFileUrl(currentWarrantyReceiptLink, currentDevice.DeviceID);
        await JSRuntime.InvokeVoidAsync("open", fileUrl, "_blank");
    }

    private async Task NavigateToWarrantyFile(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        string currentWarrantyReceiptLink = currentDevice.DeviceWarranty.ReceiptLink;
        string fileUrl = DataService.GetFileUrl(currentWarrantyReceiptLink, currentDevice.DeviceID);
        await JSRuntime.InvokeVoidAsync("open", fileUrl, "_blank");
    }

    private async Task OnModalDeleteSuccess()
    {
        await refModalDeleteSuccess.OnShowModalClick();
    }

    #region Real Estate

    private ModalEditAddRealEstate refModalEditAddRealEstate = default!;
    private ModalDeleteRealEstate refModalRealEstateDelete = default!;
    private ModalReassignDevices refModalReasignDevices = default!;

    private void RealEstateDataHasChanged()
    {
        _realEstatesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.AsQueryable();
        StateHasChanged();
    }

    private async Task OnModalRealEstateDeleteRequest()
    {
        await refModalRealEstateDelete.DeleteRealEstate_Click(true);
    }

    private async Task OnShowModalRealEstateClick(int realEstateID)
    {
        RealEstate? targetRealEstate = DataService.GetRealEstate(realEstateID);
        if (targetRealEstate.RealEstateID != 0)
        {
            currentRealEstate = targetRealEstate;
            currentRealEstateAddress = currentRealEstate.Address;
            await refModalEditAddRealEstate.OnShowModalEditAddRealEstateClick();
        }
        else
        {
            // ELSE: Something went wrong.
            // Adding error to the log
            Console.WriteLine($"Error: RealEstate ID {targetRealEstate.RealEstateID} not found in DataService.");

            // Show a message to the user (if you use BlazorBootstrap)
            // ToastService.Notify(new(ToastType.Danger, "Could not find the property data. Please refresh."));

            // Optional: Trigger a refresh of the user data just in case
            await DataService.InitializedUserAsync();
        }
    }

    private async Task OnShowModalAddNewRealEstate()
    {
        currentRealEstate = new();
        currentRealEstateAddress = new();
        currentRealEstateAddress = currentRealEstate.Address;
        await refModalEditAddRealEstate.OnShowModalEditAddRealEstateClick();
    }

    private async Task OnShowModalChooseOptionDeleteRealEstate(int currentRealEstateID)
    {
        currentUser = DataService.CurrentUserWithAllData;
        currentRealEstate = DataService.GetRealEstate(currentRealEstateID);
        _deletedObjectName = currentRealEstate.RealEstateName;
        await refModalRealEstateDelete.OnShowModalDeleteRealEstateClick();
    }

    #endregion

    #region Devices

    private ModalEditAddDevice refModalEditAddDevice = default!;
    private ModalDeleteSuccessful refModalDeleteSuccess = default!;
    private ModalConfirmDeviceDeletion refModalConfirmDeviceDeletion = default!;

    private async Task OnModalReassignDevicesRequest(int realEstateId)
    {
        // this Id will be passed to other modal to be able to move devices list
        await refModalReasignDevices.OnShowModalReasignDevices(realEstateId);
    }

    private async Task DeviceDataHasChanged()
    {
        _devicesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.SelectMany(realEstate => realEstate.DevicesProfiles).AsQueryable();
        var unassignedList = await DataService.GetUserWithUnassignedDevicesListAsync();
        var allDevicesList = DataService.GetAllUserDevices();
        _unassignedDevicesListAsQueryable = unassignedList.AsQueryable();
        _devicesListAsQueryable = allDevicesList.AsQueryable();
        StateHasChanged();
    }

    private async Task HandleUnnassignedDevicesListDataChanged()
    {
        // Re-fetch the unassigned list so .Any() becomes false
        var unassigned = await DataService.GetUserWithUnassignedDevicesListAsync();
        _unassignedDevicesListAsQueryable = unassigned.AsQueryable();

        // Re-fetch the main real estate data if needed
        // currentUser = await DataService.GetFullUserAsync();

        StateHasChanged();
    }

    private async Task OnShowModalDeleteDeviceClick(int deviceId)
    {
        var deviceTarget = _unassignedDevicesListAsQueryable.FirstOrDefault(d => d.DeviceID == deviceId);
        if (deviceTarget != null)
        {
            currentDevice = deviceTarget;
            _deletedObjectName = currentDevice.DeviceName;
            StateHasChanged();
        }
        if (refModalConfirmDeviceDeletion != null)
        {
            await refModalConfirmDeviceDeletion.OnShowModalClick();
        }
    }

    private async Task OnShowModalEditDeviceClick(int deviceID)
    {
        currentRealEstate.RealEstateID = DataService.GetRealEstateByDeviceID(deviceID);
        currentUser = DataService.CurrentUserWithAllData;
        currentDevice = DataService.GetDeviceById(deviceID);
        await refModalEditAddDevice.OnShowModalEditDeviceClick();
    }

    #endregion

    #region Warranties

    private ModalEditWarrantyDetails _refModalEditWarrantyDetails = default!;

    private void WarrantyDataHasChanged()
    {
        _devicesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.SelectMany(realEstate => realEstate.DevicesProfiles).AsQueryable();
        StateHasChanged();
    }

    private async Task OnShowModalEditAddDeviceWarrantyClick(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        await _refModalEditWarrantyDetails.OnShowModalEditWarrantyClick();
    }

    #endregion

    #region Shops

    private ModalEditShopDetails refModalEditShopDetails = default!;

    private void ShopDataHasChanged()
    {
        _realEstatesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.AsQueryable();
        StateHasChanged();
    }

    private async Task OnShowModalEditAddShopClick(int deviceID)
    {
        currentDevice = DataService.GetDeviceById(deviceID);
        shopAddress = currentDevice.DeviceWarranty.Shop.Address;
        await refModalEditShopDetails.OnShowModalEditAddShopClick();
    }

    #endregion

    protected override async Task OnInitializedAsync()
    {
        await DataService.InitializedUserAsync();
        var list = await DataService.GetUserWithUnassignedDevicesListAsync();
        _unassignedDevicesListAsQueryable = list.AsQueryable();
        _devicesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.
        SelectMany(realEstate => realEstate.DevicesProfiles)
        .OrderBy(d => DataService.GetRealEstateByDeviceID(d.DeviceID))
        .ThenBy(d => d.DeviceID).AsQueryable();

        _realEstatesListAsQueryable = DataService.CurrentUserWithAllData.RealEstates.AsQueryable();
        DataService.CheckIfFileExsist();
        // 1. Call the method to get the combined and "stamped" list
        List<DeviceProfile> allDevices = DataService.GetAllUserDevices();

        // 2. Convert it to IQueryable so QuickGrid sorting works perfectly!
        _devicesListAsQueryable = allDevices.AsQueryable();
        // chosedDevicesList = DataService.GetQueueAndClear();


        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (Tab == 1)
        {
            TabID = 1;
        }
        else if (Tab == 2)
        {
            TabID = 2;
        }
        else if (Tab == 3)
        {
            TabID = 3;
        }
        else
        {
            message = "There is no option";
        }
    }




}

