@page "/maindashboard"
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@using MyHomeBlazorApp.Pages
@using BlazorBootstrap
@using MyHomeBlazorApp.Components
@inject NavigationManager uriHelper;
@inject BlazorData.DataService DataService;

<html>
<head>
    <style>
        .grid-container {
            display: flex;
            grid-template-columns: auto auto auto;
            background-color: #f7f9fc;
            padding: 10px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            margin: 20px;
            font-size: 30px;
            text-align: center;
        }

        .body {
            background-color: #ced4da;
            color: #6c757d;
        }

        .th {
            column-width: 100px;
        }

        .a {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            border: 1px solid;
            text-overflow: ellipsis;
        }
    </style>
</head>
<PageTitle>Main Dashboard</PageTitle>

<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">                
                <CardComponent IconStyle="bi bi-person-bounding-box" IconPath="@userIconPath" ListItems="@userItemsList" LinkName="Go To User Account Details">
                    <CardTitle><h3>Welcome Back, @DataService.CurrentUser.UserName!</h3></CardTitle>
                </CardComponent>
                <CardComponent ListItems="@GetLastAddedRealEstate()" IconStyle=" bi bi-house-door" IconPath="@realEstateIconPath" LinkTo="/details/1" LinkName="Go To Real Estates Details">
                    <CardTitle><h3>Real Estates: @DataService.CurrentUser.RealEstates.Count</h3></CardTitle>
                </CardComponent>
                <CardComponent ListItems="@GetLastAddedDevice()" IconStyle="bi bi-cpu" IconPath="@deviceIconPath" LinkTo="/details/2" LinkName="Go To Devices Details">
                    <CardTitle><h3>Devices: @DataService.Devices.Count</h3></CardTitle>
                </CardComponent>
                @if (GetExpiringDevice != null)
                {
                    <CardComponent LinkTo="/details/3" ListItems="@GetExpiringDevice()" IconStyle="bi bi-file-earmark-medical-fill" IconPath="@warrantyIconPath" LinkName="Go To Warranties Details">
                        <CardTitle><h3>Warranties</h3></CardTitle>
                    </CardComponent>
                }
                else
                {
                    DataService.CurrentUser.GetAllDevices().Last();
                }
            </div>
        </div>
    </div>

</body>
</html>
@code {

    private List<string> _deviceItemsList = new List<string>();
    private List<string> _warrantyItemsList = new List<string>();
    private List<string> _realEstateItemsList = new List<string>();
    private List<string> GetExpiringDevice()
    {
        string dateInput = DataService.FirstExpiringWarranty().DeviceWarranty.WarrantyEnd.ToShortDateString();
        string deviceName = DataService.FirstExpiringWarranty().DeviceName;        
        _warrantyItemsList.Add("Expires soonest:");
        _warrantyItemsList.Add(deviceName + " " + dateInput);
        return _warrantyItemsList;
    }

    private List<string> GetLastAddedDevice()
    {
        DeviceProfile lastDevice = DataService.Device;
        string deviceID = lastDevice.DeviceID.ToString();
        string deviceName = lastDevice.DeviceName;
        string finalString = "ID" + ":" + lastDevice.DeviceID.ToString() + " " + lastDevice.DeviceName;
        _deviceItemsList.Add("Last Added Device:");
        _deviceItemsList.Add(finalString);
        return _deviceItemsList;
    }

    private List<string> GetLastAddedRealEstate()
    {
        RealEstate lastRealEstate = DataService.LastAddedRealEstate();
        string lastRealEstateId = lastRealEstate.RealEstateID.ToString();
        _realEstateItemsList.Add("Last added Real Estate:");
        _realEstateItemsList.Add($"ID:{lastRealEstateId} {lastRealEstate.RealEstateName}");
        return _realEstateItemsList;
    }

    List<string> userItemsList = new List<string>()
    {
        $"Today is: {DateTime.UtcNow.ToLongDateString()}"
    };
      

    string userIconPath = "M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0";
    string realEstateIconPath = "M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z";
    string deviceIconPath = "M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z";
    string warrantyIconPath = "M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-3 2v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0m-2 4.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1m0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1";


}
