@page "/maindashboard"
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@using MyHomeBlazorApp.Pages
@inject NavigationManager uriHelper;
@inject BlazorData.DataService DataService;

<html>
<head>

    <style>
        .grid-container {
            display: flex;
            grid-template-columns: auto auto auto;
            background-color: #f7f9fc;
            padding: 10px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            margin: 20px;
            font-size: 30px;
            text-align: center;
        }

        .body {
            background-color: #ced4da;
            color: #6c757d;
        }

        .th {
            column-width: 100px;
        }

        .a {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            border: 1px solid;
            text-overflow: ellipsis;
        }

    </style>
</head>
<PageTitle>The Main Dashboard</PageTitle>

<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <CardComponent Image="images\account-user-avatar-svgrepo-com.png" Li1="My House App" Li2="Latest App News Maybe :)" Link1="Go To User Account Details">
                    <CardTitle><h3>Welcome Back, @DataService.CurrentUser.UserName!</h3></CardTitle>
                </CardComponent>
                <CardComponent Image="images\building-estate-home-svgrepo-com.png" Li1="Date Today Is:" Li2="@DateNow.ToLongDateString()" Link1="Go To Real Estates Details">
                    <CardTitle><h3>My Total Real Estates: @DataService.CurrentUser.RealEstates.Count</h3></CardTitle>
                </CardComponent>
                <CardComponent Image="images\phone-screen-capture-screen-svgrepo-com.png" Li1="Last Added Device:" Li2="@GetLastAddedDevice()" Link1="Go To Devices Details">
                    <CardTitle><h3>My Total Devices: @DataService.Devices.Count</h3></CardTitle>
                </CardComponent>
                <CardComponent Image="images\manage-dashboard-analytic-svgrepo-com.png" Li1="Expiring Soon This Device:" Li2="@GetExpiringDevice()" Link1="Go To Warranties Details">
                    <CardTitle><h3>My Expiring Warranties</h3></CardTitle>
                </CardComponent>
            </div>
        </div>
    </div>

</body>
</html>
@code {
    bool _realestateVisible = false;
    public DateTime DateNow { get; set; } = DateTime.UtcNow;
    public string curentDateStraing { get; set; }  = $"Date Today Is: { DateTime.UtcNow.ToLongDateString()}";
    string GetExpiringDevice()
    {
        DeviceProfile expiringWarranty = DataService.FirstExpiringDevice;
        string deviceName = expiringWarranty.DeviceName;
        string deviceExpiringWarranty = expiringWarranty.DeviceWarranty.WarrantyEnd.ToShortDateString();
        return deviceName + " " + deviceExpiringWarranty;
    }
    string GetLastAddedDevice()
    {
        DeviceProfile lastDevice = DataService.Device;
        string deviceID = lastDevice.DeviceID.ToString();
        string deviceName = lastDevice.DeviceName;
        return "ID" + ":" + lastDevice.DeviceID.ToString() + " " + lastDevice.DeviceName;
    }
}
