@page "/QrCoder"

@using MyHome.Models;
@using MyHome;
@using MyHomeBlazorApp.Pages
@using static QRCoder.PayloadGenerator
@inject BlazorData.DataService DataService


<h3>QrCoder</h3>

<p>@_chosedDeviceID</p>
<p>@_selectedDeviceProfile.DeviceID</p>


<h5>Generate link to Device QrCode </h5>

<EditForm Model="@_selectedDeviceProfile" Context="editDeviceContext" OnSubmit="HandleQrCode">
    <label class="form-label">Choose Device</label>
    <InputSelect @bind-Value="_chosedDeviceID">
        <option selected disabled value="-1">Select Device...</option>
        @foreach (var device in DataService.CurrentUser.GetAllDevices())
        {
            <option value="@device.DeviceID">@device.DeviceName</option>
        }
    </InputSelect>
    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Generate link QrCode</Button>
</EditForm>
<br />
<br/>
<h5>Create Wifi Sharing Qr Code</h5>
<EditForm Model="wifiModel" Context="editWifiContext" OnSubmit="HandleWifiSharingQrCode">  
        <div>
            <label class="form-check-label" for="wifiName">
                Wifi Name
            </label>
            <InputText id="wifiName" @bind-Value="_wifiName"></InputText>
        </div>    
        <div>
            <label class="form-check-label" for="wifiPassword">
                Wifi Pasword
            </label>
            <InputText id="wifiPassword" @bind-Value="_wifiPassword"></InputText>
        </div>
        <br />
    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Create Wifi Qr Code</Button>
</EditForm>
@code {
    private DeviceProfile _selectedDeviceProfile { get; set; } = new();
    private WifiModel wifiModel { get; set; } = new();
    private EditContext EditDeviceContext;
    private EditContext EditWifiContext;
    [Parameter]
    public int _chosedDeviceID { get; set; }
    [Parameter]
    public UserProfile currentUser { get; set; } = new();
    private string? _wifiName { get; set; }
    private string? _wifiPassword { get; set; }
    private string deviceID { get; set; } = String.Empty;
    private string savedQRCodeLink = "C:\\Users\\shiranco.DESKTOP-HRN41TE\\Desktop\\qrcodes\\qrCode.png";
    public class WifiModel
    {
        private string _wifiName ="";

        public string WifiName
        {
            get { return _wifiName; }
            set { _wifiName = value; }
        }

        private string _wifiPassword = "";        

        public string WifiPassword
        {
            get { return _wifiPassword; }
            set { _wifiPassword = value; }
        }
    }    

    private void SetSelectedDeviceProfile(int deviceID)
    {
        _selectedDeviceProfile = DataService.GetDeviceById(deviceID);
    }


    private void HandleQrCode(EditContext editContext)
    {
        _selectedDeviceProfile = DataService.GetDeviceById(_chosedDeviceID);        
        currentUser = DataService.CurrentUser;
        // string QrCodeUrl = $"files/{DataService.CurrentUser.UserID}/{file}";
        Logic.CreateQrCodeLinkToDevice(_selectedDeviceProfile.DeviceID.ToString(), currentUser.UserID.ToString(), savedQRCodeLink);
    }

    private void HandleWifiSharingQrCode (EditContext editContext)
    {        
        Logic.CreateWifiSharingQrCode(_wifiName, _wifiPassword, savedQRCodeLink);
    }

    
}
