@page "/userManagement"
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyHomeBlazorApp.BlazorData
@inject UserManager<MyHomeBlazorAppUser> UserManager
@inject SignInManager<MyHomeBlazorAppUser> SignInManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject MyHomeBlazorAppContext dbcontext;
@using Microsoft.AspNetCore.Components.Authorization;
<h3>UserManagement</h3>

@* 1.Show all user list  *@
@* 2. Find user by email, when typing in search bar *@
@* 3. Buttons connect as user, send reset pasword email for user email, add as admin, remove user, change role from admin to user*@
@* @inject DataSurcoe Data *@

<div class="grid" tabindex="-1">
    <QuickGrid Items="@FilteredNames.AsQueryable()" Virtualize="true" @ref="grid">
        <PropertyColumn Title="User Email" Property="@(u => u.NormalizedEmail)" Sortable="true" IsDefaultSortColumn="true">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" placeholder="User Email..." />
                </div>
            </ColumnOptions>
        </PropertyColumn>
        <TemplateColumn Title="UserRole">
            @UserRole(context).Result
        </TemplateColumn>
        <TemplateColumn Title="Change Role">
            <Button Class="btn btn-outline-info" @onclick="()=>OnShowModalChooseRole(context)">Change Role</Button>
        </TemplateColumn>
        <TemplateColumn Title="Delete User">
            <Button Class="btn btn-outline-danger">Delete User</Button>
        </TemplateColumn>
        <TemplateColumn Title="Login As User">
            <Button Class="btn btn-outline-primary">Login as this User</Button>
        </TemplateColumn>
        <TemplateColumn Title="Password Reset">
            <Button Class="btn btn-outline-dark">Send password reset</Button>
        </TemplateColumn>
    </QuickGrid>
</div>

<div class="my-2">
    <div class="search-box inline-block mr-4 my-1">
        <input type="search" autofocus @bind="nameSearch" @bind:event="oninput" @bind:after="()=>grid.RefreshDataAsync()" placeholder="Product name..." />
    </div>

    <div class="inline-block my-1">
        Total: <strong>@FilteredNames.Count() Names found</strong>
    </div>
</div>


<Modal @ref="refModalChooseRole" Title="Choose Role For The User">
    <BodyTemplate>
        <EditForm Model="@_user">
            <label class="form-label">Choose a Role:</label>
            <InputSelect @bind-Value="chosedRole">
                <option selected value="-1" disabled>Select Role</option>
                @foreach (var role in dbcontext.Roles)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            </InputSelect>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
        <Button Class="btn btn-outline-success" @onclick="SaveChanges">Save</Button>
        <Button Class="btn btn-outline-danger" @onclick="refModalChooseRole.HideAsync">Close</Button>
    </FooterTemplate>
</Modal>



@code
{
    QuickGrid<MyHomeBlazorAppUser>? grid;
    string nameSearch = "";
    public MyHomeBlazorAppUser? ChosedUser { get; set; }
    private MyHomeBlazorAppUser _user { get; set; } = new();
    private EditContext editContext;
    private List<MyHomeBlazorAppUser> _users { get; set; }
    private string? chosedRole { get; set; }
    Modal refModalChooseRole { get; set; } = default!;
    List<MyHomeBlazorAppUser> FilteredNames => _users.Where(
    u => u.Email.ToLower().Contains(nameSearch.ToLower())).ToList();

    private async Task<string> UserRole(MyHomeBlazorAppUser user)
    {
        var userRoles = await UserManager.GetRolesAsync(user);
        var roleName = userRoles.FirstOrDefault();
        return roleName.ToString();
    }

    public async Task OnShowModalChooseRole(MyHomeBlazorAppUser user)
    {
        ChosedUser = await SignInManager.UserManager.FindByEmailAsync(user.Email);
        await refModalChooseRole.ShowAsync();
    }    

    private async void SaveChanges()
    {
        if (!String.IsNullOrEmpty(chosedRole))
        {
            await SetRole(ChosedUser, chosedRole);
        }
        await UserManager.UpdateAsync(ChosedUser);
        await refModalChooseRole.HideAsync();
    }

    private async Task SetRole(MyHomeBlazorAppUser user, string role)
    {
        var chosedUserRoles = await SignInManager.UserManager.GetRolesAsync(user);
        await UserManager.RemoveFromRolesAsync(user, chosedUserRoles);
        await UserManager.AddToRoleAsync(user, role);
    }


    protected override void OnInitialized()
    {
        _users = UserManager.Users.ToList();
        editContext = new(_user);
    }
}

