@page "/user"
@using MyHome.Models;
@using MyHomeBlazorApp.BlazorData;
@using MyHome;
@inject NavigationManager uriHelper;
@inject BlazorData.DataService DataService;


<PageTitle>User Details</PageTitle>


<h3>User</h3>
<p>Here I will show all the details + adding new devices...</p>
<hr />
<hr />
<hr />

<TableTemplate Items="@DataService.CurrentUser.RealEstates" Context="realEstate">
    <TableHeader>
        <th>Real Estate ID</th>
        <th>Name</th>
        <th>Adrress</th>
        <th>Devices</th>
    </TableHeader>
    <RowTemplate>
        <td>@realEstate.RealEstateID</td>
        <td>@realEstate.RealEstateName</td>
        @if (realEstate.Address != null)
        {
            <td>
                <ul>
                    <li>Street Name: @realEstate.Address.StreetName</li>
                    <li>House Number: @realEstate.Address.HouseNumber</li>
                    <li>Apartament Number: @realEstate.Address.ApartamentNumber</li>
                    <li>Extended House Number/Letter: @realEstate.Address.HouseNumberExtension</li>
                    <li>City: @realEstate.Address.City</li>
                    <li>Country: @realEstate.Address.Country</li>
                </ul>
            </td>
        }
        else
        {
            <p>Empty</p>
        }



        @* <td>
        @for (int i = 1; i < @realEstate.DevicesProfiles.Count; i++)
        {
        <ol>
        <li>Item</li>
        <li>@realEstate.DevicesProfiles[@i].DeviceID</li>
        <li>@realEstate.DevicesProfiles[@i].DeviceType</li>
        <li>Item @i</li>
        </ol>
        }
        </td> *@
        <td>
            <ul>
                @foreach (DeviceProfile d in realEstate.DevicesProfiles)
                {
                    <li>
                        Device ID - @d.DeviceID : Device Name - @d.DeviceName
                    </li>
                }
            </ul>

        </td>



    </RowTemplate>
</TableTemplate>


<div>
    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowRealEstateForm">Add new Real Estate</button>

        @if (_realEstateFormVisible)
        {

            <div class="form-group row">
                <EditForm Model=@realEstate OnSubmit=@RealEstateFormSubmitted>
                    <div class="form-group row">
                        <label for="realEstateName" class="col-sm-2 col-form-label">Real Estate Name</label>
                        <div class="col-sm-10">
                            <InputText id="realEstateName" @bind-Value="realEstate.RealEstateName">Real Estate Name</InputText>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowREstAdrressForm">Add Real Estate Adrress</button>
        @if (_adrressFormVisible)
        {
            <div class="form-group row">
                <EditForm Model=@adrress OnSubmit=@AdrressFormSubmitted>
                    <div class="form-group row">
                        <label for="rEstStreetName" class="col-sm-2 col-form-label">Street Name</label>
                        <div class="col-sm-10">
                            <InputText id="rEstStreetName" @bind-Value="adrress.StreetName">Street Name</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rEstHouseNumb" class="col-sm-2 col-form-label">House Number</label>
                        <div class="col-sm-10">
                            <InputNumber id="rEstHouseNumb" @bind-Value="adrress.HouseNumber">House Number</InputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rEstExtHouseNumb" class="col-sm-2 col-form-label">Extended House number/letter</label>
                        <div class="col-sm-10">
                            <InputText id="rEstExtHouseNumb" @bind-Value="adrress.HouseNumberExtension">Extended House number/letter</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rEstApartamentNumb" class="col-sm-2 col-form-label">Apartament Number</label>
                        <div class="col-sm-10">
                            <InputNumber id="rEstApartamentNumb" @bind-Value="adrress.ApartamentNumber">Apartament Number</InputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rEstCity" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <InputText id="rEstCity" @bind-Value="adrress.City">City</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="rEstCountry" class="col-sm-2 col-form-label">Country</label>
                        <div class="col-sm-10">
                            <InputText id="rEstCountry" @bind-Value="adrress.Country">Country</InputText>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowDeviceForm">Add new Device</button>
        @if (_deviceFormVisible)
        {
            <div class="form-group row">
                <EditForm Model=@device OnSubmit=@DeviceFormSubmitted>
                    <div class="form-group row">
                        <label for="deviceName" class="col-sm-2 col-form-label">Device Name</label>
                        <div class="col-sm-10">
                            <InputText id="deviceName" @bind-Value="device.DeviceName">Device Name</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceProduser" class="col-sm-2 col-form-label">Device Produser</label>
                        <div class="col-sm-10">
                            <InputText id="deviceProduser" @bind-Value="device.DeviceProduser">Device Produser</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceModelNumber" class="col-sm-2 col-form-label">Device Model Number</label>
                        <div class="col-sm-10">
                            <InputText id="deviceModelNumber" @bind-Value="device.DeviceModelNumber">Device Model Number</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceType" class="col-sm-2 col-form-label">Device Type</label>
                        <div class="col-sm-10">
                            <InputSelect id="deviceType" @bind-Value="device.DeviceType">
                                @foreach (var type in Enum.GetValues(typeof(DeviceType)))
                                {
                                    <option value="@type">@type</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceSerialNumber" class="col-sm-2 col-form-label">Device Serial Number</label>
                        <div class="col-sm-10">
                            <InputText id="deviceSerialNumber" @bind-Value="device.DeviceSerialNumber">Device Serial Number</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ipAddress" class="col-sm-2 col-form-label">Ip Address</label>
                        <div class="col-sm-10">
                            <InputText id="ipAddress" @bind-Value="device.IpAddress">Ip Address</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="macAddress" class="col-sm-2 col-form-label">Mac Address</label>
                        <div class="col-sm-10">
                            <InputText id="ipAddress" @bind-Value="device.MacAdrress">Mac Address</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="manualLink" class="col-sm-2 col-form-label">Link To Manual</label>
                        <div class="col-sm-10">
                            <InputText id="manualLink" @bind-Value="device.ManualBookLink">Link To Manual</InputText>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>
    @*add parsing messages*@
    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowDeviceWarrantyForm">Add Device Warranty Info</button>
        @if (_deviceWarrantyFormVisible)
        {
            <div class="form-group row">
                <EditForm Model=@deviceWarranty OnSubmit=@DeviceWarrantyFormSubmitted>
                    <div class="form-group row">
                        <label for="devicePurchaseDate" class="col-sm-2 col-form-label">Add purchase Date</label>
                        <div class="col-sm-10">
                            <InputDate ParsingErrorMessage="Must be a date" id="devicePurchaseDate" @bind-Value="deviceWarranty.PurchaseDate">Add purchase Date</InputDate>
                            <ValidationMessage For="@(() => deviceWarranty.PurchaseDate)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceWarrantyLength" class="col-sm-2 col-form-label">Add warranty lentgh in years</label>
                        <div class="col-sm-10">
                            <InputNumber id="deviceWarrantyLength" @bind-Value="deviceWarranty.Years">Add warranty lentgh in years</InputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="linkToReceipt" class="col-sm-2 col-form-label">Add link to purchase receipt</label>
                        <div class="col-sm-10">
                            <InputText id="linkToReceipt" @bind-Value="deviceWarranty.ReceiptLink">Add link to purchase receipt</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceExtendedWarrantyLength" class="col-sm-2 col-form-label">Add extended warranty lentgh in years</label>
                        <div class="col-sm-10">
                            <InputNumber id="deviceExtendedWarrantyLength" @bind-Value="deviceWarranty.ExtendedWarrantyinYears">Add extended warranty lentgh in years</InputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="extendedWarrantyLinkToReceipt" class="col-sm-2 col-form-label">Add Extended Warranty link to receipt</label>
                        <div class="col-sm-10">
                            <InputText id="extendedWarrantyLinkToReceipt" @bind-Value="deviceWarranty.ExtraInsuranceWarrantyLink">Add Extended Warranty link to receipt</InputText>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>
    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowShopForm">Add Device Shop Info</button>
        @if (_shopFormVisible)
        {
            <div class="form-group row">
                <EditForm Model=@shop OnSubmit=@ShopFormSubmitted>
                    <div class="form-group row">
                        <label for="shopName" class="col-sm-2 col-form-label">Shop Name</label>
                        <div class="col-sm-10">
                            <InputText id="shopName" @bind-Value="shop.ShopName">Shop Name</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopWebAdrress" class="col-sm-2 col-form-label">Shop Web Adrress</label>
                        <div class="col-sm-10">
                            <InputText id="shopWebAdrress" @bind-Value="shop.ShopWebAddress">Shop Phone Number</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopPhoneNumber" class="col-sm-2 col-form-label">Shop Phone Number</label>
                        <div class="col-sm-10">
                            <InputNumber id="shopPhoneNumber" @bind-Value="shop.PhoneNumber">Shop Phone Number</InputNumber>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>

    <div>
        <button class="btn btn-primary form-group row m-3" @onclick="ShowShopAdrressForm">Add Shop Adrress</button>
        @if (_shopAdrressFormVisible)
        {
            <div class="form-group row">
                <EditForm Model=@adrress OnSubmit=@ShopAdrressFormSubmitted>
                    <div class="form-group row">
                        <label for="shopStreetName" class="col-sm-2 col-form-label">Street Name</label>
                        <div class="col-sm-10">
                            <InputText id="shopStreetName" @bind-Value="adrress.StreetName">Street Name</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopHouseNumb" class="col-sm-2 col-form-label">House Number</label>
                        <div class="col-sm-10">
                            <InputNumber id="shopHouseNumb" @bind-Value="adrress.HouseNumber">House Number</InputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopExtHouseNumb" class="col-sm-2 col-form-label">Extended House number/letter</label>
                        <div class="col-sm-10">
                            <InputText id="shopExtHouseNumb" @bind-Value="adrress.HouseNumberExtension">Extended House number/letter</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopCity" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <InputText id="shopCity" @bind-Value="adrress.City">City</InputText>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="shopCountry" class="col-sm-2 col-form-label">Country</label>
                        <div class="col-sm-10">
                            <InputText id="shopCountry" @bind-Value="adrress.Country">Country</InputText>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </EditForm>
            </div>
        }
    </div>
</div>

@if (LastSubmitResult != null)
{
    <h2>
        Last submit status: @LastSubmitResult
    </h2>
}

@code
{
    private void ShowDeviceForm()
    {
        _deviceFormVisible = !_deviceFormVisible;
    }

    private void ShowDeviceWarrantyForm()
    {
        _deviceWarrantyFormVisible = !_deviceWarrantyFormVisible;
    }

    private void ShowRealEstateForm()
    {
        _realEstateFormVisible = !_realEstateFormVisible;
    }
    private void ShowREstAdrressForm()
    {
        _adrressFormVisible = !_adrressFormVisible;
    }

    private void ShowShopForm()
    {
        _shopFormVisible = !_shopFormVisible;
    }

    private void ShowShopAdrressForm()
    {
        _shopAdrressFormVisible = !_shopAdrressFormVisible;
    }

    bool _realEstateFormVisible = false;
    bool _deviceFormVisible = false;
    bool _adrressFormVisible = false;
    bool _deviceWarrantyFormVisible = false;
    bool _shopFormVisible = false;
    bool _shopAdrressFormVisible = false;

    string LastSubmitResult = "";
    string Status = "Not submitted";
    DeviceProfile device = new();
    RealEstate realEstate = new();
    Address adrress = new();
    DeviceWarranty deviceWarranty = new();
    Shop shop = new();

    void RealEstateFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";
        DataService.AddNewRealEstate(realEstate);
        realEstate = new();
    }

    void DeviceFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";
        DataService.AddNewDevice(device);
        device = new();
    }
    void AdrressFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";
        DataService.AddRealEstateAdrress(adrress);
        adrress = new();
    }

    void DeviceWarrantyFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";
        DataService.AddDeviceWarrantyInfo(deviceWarranty);
        deviceWarranty = new();
    }

    void ShopFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";

        DataService.AddShopInfo(shop);
        shop = new();
    }

    void ShopAdrressFormSubmitted(EditContext editContext)
    {
        bool formIsValid = editContext.Validate();
        LastSubmitResult =
        formIsValid
        ? "Success - form was valid"
        : "Failure - form was invalid";

        DataService.AddShopAdrress(adrress);
        adrress = new();
    }
}
