@using BlazorBootstrap
@inject BlazorData.DataService DataService
@using Microsoft.AspNetCore.Mvc
@using MyHome.Models
@using MyHomeBlazorApp.Components.Modals
@using System.Text


<Modal @ref="refModalEditWarrantyDetails" Title="Edit Warranty Details" OnHiding="OnModalHiding">
    <BodyTemplate>
        <EditForm Model="@CurrentDevice" Context="WarrantyDetails" OnSubmit="WarrantyDetailsFormSubmitted">
            <div class="form-group row">
                <label for="devicePurchaseDate" class="col-sm-6 col-form-label">Purchase Date</label>
                <div class="col-sm-6">
                    <InputDate ParsingErrorMessage="Must be a date" id="devicePurchaseDate" @bind-Value="CurrentDevice.DeviceWarranty.PurchaseDate">Add Purchase Date</InputDate>
                    <ValidationMessage For="@(() => CurrentDevice.DeviceWarranty.PurchaseDate)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="deviceWarrantyLength" class="col-sm-6 col-form-label">Warranty Lentgh (years)</label>
                <div class="col-sm-6">
                    <InputNumber id="deviceWarrantyLength" @bind-Value="CurrentDevice.DeviceWarranty.Years">Add warranty lentgh in years</InputNumber>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="linkToReceipt" class="col-sm-6 col-form-label">Receipt Link</label>
                <div class="col-sm-6">
                    @if (!String.IsNullOrEmpty(CurrentDevice.DeviceWarranty.ReceiptLink))
                    {
                        <p class="text-success">The receipt was uploaded.</p>
                    }
                    <InputFile id="WarrantyReceiptLink"
                               @bind-Value="CurrentDevice.DeviceWarranty.ReceiptLink"
                               OnChange="@UploadReceiptFile">
                    </InputFile>
                </div>
                <div>
                    <p>@CurrentDevice.DeviceWarranty.ReceiptLink</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="deviceExtendedWarrantyLength" class="col-sm-6 col-form-label">Extended warranty lentgh (years)</label>
                <div class="col-sm-6">
                    <InputNumber id="deviceExtendedWarrantyLength" @bind-Value="CurrentDevice.DeviceWarranty.ExtendedWarrantyinYears">Add extended warranty lentgh in years</InputNumber>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="extendedWarrantyLinkToReceipt" class="col-sm-6 col-form-label">Extended Warranty Receipt</label>
                <div class="col-sm-6">
                    @if (!String.IsNullOrEmpty(CurrentDevice.DeviceWarranty.ExtraInsuranceWarrantyLink))
                    {
                        <p class="text-success">The receipt was uploaded.</p>
                    }
                    <InputFile id="extendedWarrantyLinkToReceipt"
                               @bind-Value="CurrentDevice.DeviceWarranty.ExtraInsuranceWarrantyLink"
                               OnChange="@UploadExtraWarrantyReceiptFile">
                    </InputFile>
                </div>
            </div>

            <h3>Files</h3>
            <p>@FileUrls.Count()</p>
            @* @foreach (var url in FileUrls)
            {
            <li><a href="@url">@url</a><br /></li>
            } *@


            <NextPreviuosButtons @bind-CurrentDevice="@CurrentDevice"
                                 DevicesListAsQueryable="DevicesListAsQueryable">
            </NextPreviuosButtons>
            <Button Color="ButtonColor.Primary" @onclick="OnHideModalEditWarrantyClick">Close</Button>
            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
        </EditForm>
        @if (errors.Count > 0)
        {
            <h2>Errors</h2>
            <ul class="text-danger">
                @foreach (string error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
    </BodyTemplate>
</Modal>


@code {

    [Parameter]
    public DeviceProfile? CurrentDevice { get; set; }
    [Parameter]
    public IQueryable<DeviceProfile>? DevicesListAsQueryable { get; set; }
    public Action? WarrantyDataHasChanged;
    private Modal? refModalEditWarrantyDetails { get; set; }
    private IBrowserFile? warrantyReceiptFile;
    private IBrowserFile? extraWarrantyReceiptFile;
    private long maxFileSize = 1024 * 1024 * 3;
    private int maxAllowedFiles = 1;
    private List<string> errors = new();
    private string warrantyReceiptFilePath;
    private string extraWarrantyReceiptFilePath;
    private bool warrantyFileUpploadSuccsess = false;
    private bool extraWarrantyFileUpploadSuccess = false;

    //Some example
    // creating new directory in user environmentenvironment
    // readonly static string homePath = (Environment.OSVersion.Platform == PlatformID.Unix ||
    //                Environment.OSVersion.Platform == PlatformID.MacOSX)
    // ? Environment.GetEnvironmentVariable("HOME")
    // : Environment.ExpandEnvironmentVariables("%HOMEDRIVE%%HOMEPATH%");

    private async void UploadAnyFile(InputFileChangeEventArgs e, string fileID)
    {
        switch (fileID)
        {
            case "warraty":
                extraWarrantyReceiptFilePath = await CaptureFilePath(e.File);
                break;
            case "":
                warrantyReceiptFilePath = await CaptureFilePath(e.File);
                break;

        }
    }

    private async void UploadExtraWarrantyReceiptFile(InputFileChangeEventArgs e)
    {
        extraWarrantyReceiptFilePath = await CaptureFilePath(e.File);
    }

    private async void UploadReceiptFile(InputFileChangeEventArgs f)
    {
        warrantyReceiptFilePath = await CaptureFilePath(f.File);
    }

    private async Task<string> CaptureFilePath(IBrowserFile file)
    {
        if (file is null)
        {
            // returns empty string if there is no file
            return "";
        }

        try
        {
            string newFileName = Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name));
            string userId = DataService.CurrentUser.UserID.ToString();
            Directory.CreateDirectory($"{Environment.CurrentDirectory}\\files\\{userId}");
            string filePath = $"{Environment.CurrentDirectory}\\files\\{userId}\\{newFileName}";
            if (file.Size <= maxFileSize)
            {
                using var content = new MultipartFormDataContent();
                await using FileStream fs = new(filePath, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                fs.Close();
            }
            else
            {
                errors.Add($"File: {file.Name} Error: The File has exceed file size{maxFileSize}");
            }

            // await ListFiles();
            return filePath;
        }
        catch (Exception ex)
        {
            // TODO: for security reasons file.Name should be encoded or should remove all the special Characters and change the value for display
            errors.Add($"File: {file.Name} Error: {ex.Message}");
            throw;
        }
    }

    List<string> FileUrls = new();
    async Task ListFiles()
    {
        FileUrls.Clear();
        var files = Directory.GetFiles(Environment.CurrentDirectory + $"\\Files\\{DataService.CurrentUser.UserID}", "*.*");
        foreach (var filename in files)
        {
            var file = Path.GetFileName(filename);
            string url = $"files/{DataService.CurrentUser.UserID}/{file}";
            FileUrls.Add(url);
        }

        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnInitializedAsync()
    {
        await ListFiles();
    }

    public async Task OnShowModalEditWarrantyClick()
    {
        await refModalEditWarrantyDetails.ShowAsync();
    }

    public async Task OnHideModalEditWarrantyClick()
    {
        if (warrantyFileUpploadSuccsess == false)
        {
            DeleteFileIfExists(extraWarrantyReceiptFilePath);
        }

        if (extraWarrantyFileUpploadSuccess == false)
        {
            DeleteFileIfExists(warrantyReceiptFilePath);
        }
        await refModalEditWarrantyDetails.HideAsync();
    }

    private void OnModalHiding()
    {
        if (warrantyFileUpploadSuccsess == false)
        {
            DeleteFileIfExists(extraWarrantyReceiptFilePath);
        }

        if (extraWarrantyFileUpploadSuccess == false)
        {
            DeleteFileIfExists(warrantyReceiptFilePath);
        }
    }

    private void DeleteFileIfExists(string filePath)
    {
        if (!String.IsNullOrEmpty(filePath))
        {
            if (System.IO.File.Exists(filePath))
            {
                System.IO.File.Delete(filePath);
            }
        }
        else
        {
            filePath = "";
        }
    }

    private void WarrantyDetailsFormSubmitted(EditContext editcontext)
    {
        try
        {
            errors.Clear();
            DeviceProfile deviceToAddLink = DataService.Devices.First(d => d.DeviceID == CurrentDevice.DeviceID);
            if (!String.IsNullOrEmpty(extraWarrantyReceiptFilePath))
            {
                DeleteFileIfExists(deviceToAddLink.DeviceWarranty.ExtraInsuranceWarrantyLink);
                deviceToAddLink.DeviceWarranty.ExtraInsuranceWarrantyLink = extraWarrantyReceiptFilePath;
                warrantyFileUpploadSuccsess = true;

            }
            else
            {
                errors.Add($"Error: Something went wrong with this file!");
                return;
            }

            if (!String.IsNullOrEmpty(warrantyReceiptFilePath))
            {
                DeleteFileIfExists(deviceToAddLink.DeviceWarranty.ReceiptLink);
                deviceToAddLink.DeviceWarranty.ReceiptLink = warrantyReceiptFilePath;
                extraWarrantyFileUpploadSuccess = true;
            }

            else
            {
                errors.Add($"Error: Something went wrong with this file!");
                return;
            }

            DataService.SaveUpdatedObject();
            WarrantyDataHasChanged();
            warrantyReceiptFilePath = "";
            extraWarrantyReceiptFilePath = "";
            refModalEditWarrantyDetails.HideAsync();

        }
        catch (Exception ex)
        {
            errors.Add($"Error: {ex.Message}");
            throw;
        }

    }
}

