@using BlazorBootstrap
@inject BlazorData.DataService DataService
@using Microsoft.AspNetCore.Mvc
@using MyHome.Models
@using MyHomeBlazorApp.Components.Modals
@using System.Text


<Modal @ref="_refModalEditWarrantyDetails" Title="Edit Warranty Details">
    <BodyTemplate>
        <EditForm Model="@CurrentDevice" OnSubmit="WarrantyDetailsFormSubmitted">
            <div class="form-group row">
                <label for="devicePurchaseDate" class="col-sm-6 col-form-label">Purchase Date</label>
                <div class="col-sm-6">
                    <InputDate ParsingErrorMessage="Must be a date" id="devicePurchaseDate" @bind-Value="CurrentDevice.DeviceWarranty.PurchaseDate">Add Purchase Date</InputDate>
                    <ValidationMessage For="@(() => CurrentDevice.DeviceWarranty.PurchaseDate)" />
                </div>
            </div>
            <div class="form-group row">
                <label for="deviceWarrantyLength" class="col-sm-6 col-form-label">Warranty Lentgh (years)</label>
                <div class="col-sm-6">
                    <InputNumber id="deviceWarrantyLength" @bind-Value="CurrentDevice.DeviceWarranty.Years">Add warranty lentgh in years</InputNumber>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="linkToReceipt" class="col-sm-6 col-form-label">Add new Receipt Link</label>
                <div class="col-sm-6">
                    @if (!String.IsNullOrEmpty(CurrentDevice.DeviceWarranty.ReceiptLink))
                    {
                        <p class="text-success">The receipt was uploaded.</p>
                    }
                    <InputFile @key=@(_inputWarrantyFileId) id="WarrantyReceiptLink"
                               @bind-Value="CurrentDevice.DeviceWarranty.ReceiptLink"
                               OnChange="@LoadWarrantyFile">
                    </InputFile>
                </div>
            </div>
            <div class="form-group row">
                <label for="deviceExtendedWarrantyLength" class="col-sm-6 col-form-label">Extended warranty lentgh (years)</label>
                <div class="col-sm-6">
                    <InputNumber id="deviceExtendedWarrantyLength" @bind-Value="CurrentDevice.DeviceWarranty.ExtendedWarrantyinYears">Add extended warranty lentgh in years</InputNumber>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label for="extendedWarrantyLinkToReceipt" class="col-sm-6 col-form-label">Add new Extended Warranty Receipt</label>
                <div class="col-sm-6">
                    @if (!String.IsNullOrEmpty(CurrentDevice.DeviceWarranty.ExtraInsuranceWarrantyLink))
                    {
                        <p class="text-success">The receipt was uploaded.</p>
                    }
                    <InputFile @key=@(_inputExtraWarrantyFileId) id="extendedWarrantyLinkToReceipt"
                               @bind-Value="CurrentDevice.DeviceWarranty.ExtraInsuranceWarrantyLink"
                               OnChange="@LoadExtraWarrantyFile">
                    </InputFile>
                </div>
            </div>
            <NextPreviuosButtons @bind-CurrentDevice="@CurrentDevice"
                                 DevicesListAsQueryable="DevicesListAsQueryable">
            </NextPreviuosButtons>
            <Button Color="ButtonColor.Primary" @onclick="OnHideModalEditWarrantyClick">Close</Button>
            <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save changes</Button>
        </EditForm>
        @if (errors.Count > 0)
        {
            <h2>Errors</h2>
            <ul class="text-danger">
                @foreach (string error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        }
    </BodyTemplate>
</Modal>


@code {

    [Parameter]
    public DeviceProfile? CurrentDevice { get; set; }
    [Parameter]
    public IQueryable<DeviceProfile>? DevicesListAsQueryable { get; set; }
    public Action? WarrantyDataHasChanged;
    private Modal _refModalEditWarrantyDetails { get; set; } = new();
    private IBrowserFile? _warrantyReceiptFile;
    private IBrowserFile? _extraWarrantyReceiptFile;
    private long maxFileSize = 1024 * 1024 * 3;
    private List<string> errors = new();
    private Guid _inputWarrantyFileId = Guid.NewGuid();
    private Guid _inputExtraWarrantyFileId = Guid.NewGuid();

    //Some example
    // creating new directory in user environmentenvironment
    // readonly static string homePath = (Environment.OSVersion.Platform == PlatformID.Unix ||
    //                Environment.OSVersion.Platform == PlatformID.MacOSX)
    // ? Environment.GetEnvironmentVariable("HOME")
    // : Environment.ExpandEnvironmentVariables("%HOMEDRIVE%%HOMEPATH%");


    private void LoadExtraWarrantyFile(InputFileChangeEventArgs e)
    {
        _extraWarrantyReceiptFile = e.File;
    }

    private void LoadWarrantyFile(InputFileChangeEventArgs f)
    {
        _warrantyReceiptFile = f.File;
    }

    private async Task WarrantyDetailsFormSubmitted(EditContext editcontext)
    {
        try
        {
            DeviceProfile deviceToAddLink = new();
            errors.Clear();
            if (CurrentDevice != null)
            {
                deviceToAddLink = DataService.Devices.First(d => d.DeviceID == CurrentDevice.DeviceID);
            }
            if (_extraWarrantyReceiptFile != null)
            {
                DataService.DeleteFileIfExists(deviceToAddLink.DeviceWarranty.ExtraInsuranceWarrantyLink); // deleting previuos file when loading new one
                string _extraWarrantyReceiptFilePath = await DataService.CaptureFilePath(_extraWarrantyReceiptFile, maxFileSize, errors);
                deviceToAddLink.DeviceWarranty.ExtraInsuranceWarrantyLink = _extraWarrantyReceiptFilePath;
            }

            if (_warrantyReceiptFile != null)
            {
                DataService.DeleteFileIfExists(deviceToAddLink.DeviceWarranty.ReceiptLink); // deleting previuos file when loading new one
                string warrantyReceiptFilePath = await DataService.CaptureFilePath(_warrantyReceiptFile, maxFileSize, errors);
                deviceToAddLink.DeviceWarranty.ReceiptLink = warrantyReceiptFilePath;
            }

            await DataService.UpdateObjectInDB();
            WarrantyDataHasChanged();
            await _refModalEditWarrantyDetails.HideAsync();
        }
        catch (Exception ex)
        {
            errors.Add($"Error: {ex.Message}");
            throw;
        }
    }

    public async Task OnShowModalEditWarrantyClick()
    {
        await _refModalEditWarrantyDetails.ShowAsync();
    }

    public async Task OnHideModalEditWarrantyClick()
    {
        await _refModalEditWarrantyDetails.HideAsync();
    }

}

